<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

</head>


<body>

<div th:fragment="header">
    <nav class="navbar navbar-expand-sm  navbar-dark bg-dark text-white">
        <div class="collapse navbar-collapse " id=upNavBar>
            <a href="/logout" class="btn btn-primary">LOGOUT</a>
        </div>
        <div class="w-75">
            <form class="form-inline">
                <input class="form-control mr-sm-2 p-3 w-75" type="search" id="site-search" placeholder="Search" aria-label="Search" autocomplete="off">
                <button type="submit" class="btn btn-primary" id="buttonSearch">Search</button>
            </form>
        </div>
        <a type="button" href="/user/profile/0" class="btn btn-primary" id="profileButton">Мой профиль</a>
    </nav>
</div>

</body>
</html>



