<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="searchHelp" class="search-help d-none" id="searchHelp">
<pre>
  Теги                  [tag]
  Точное совпадение     "поисковый запрос"
  Автор                 user:123 (id пользователя)
                        user:me (мои публикации)
  Ответы                answers:3 (3 и более ответов)
                        answers:0 (нет ответов)
  Тип                   is:question
                        is:answer
</pre>
</div>
</body>
</html>