.content {
    background-color:#eff0f1;

}

.content-head {
    background-image: url(../images/askQuestion/background.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.button {
    border: 1px solid;
    border-radius: 3px;
    border-color: #9fa6ad;
    background-color: transparent;
    padding: 10px;
    margin: 4px 0px;
    width: 390px;
}

.facebook {
    background-color:#395697;
    color: #ffffff;
}

.iconFacebook {
    background-color:#ffffff;
}

.tag {
    height: 155px;
    display: block;
    width: 278px;
    border: 1px solid #b1b1b1;
    float: left;
    padding: 10px;
    margin: 1px;
}

.tag:hover {
    background-color: #d1e5f1;
}

.tag-header {
    margin-bottom: 3px;
    font-size: 15px;
}

.tag-description {
    font-size: 11px;
    line-height: 13px;
}

.tag-count {
    margin-left: 10px;
}
