<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/css/askQuestion.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">


    <title>Задать вопрос - JM Stack Overflow</title>
</head>
<body>
<main>
    <div class="container-fluid p-0">
        <div class="content pl-5 pr-5 pb-4">
            <div class="content-head pt-4 pb-4">
                <div class="headline-text ">
                    <h2>Задать публичный вопрос</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-8 p-3">
                    <div class="card border-light mb-3 shadow-sm" style="max-width: 1279px;">
                        <div class="card-body">
                            <h6 class="card-title">Заголовок</h6>
                            <p class="card-text">Будьте конкретны. Представьте, что вы задаёте вопрос другому
                                человеку.</p>
                            <form>
                                <input type="text" class="form-control" id="questionTitle" onkeyup='checkTitle()'
                                       placeholder="В чем заключается ваш вопрос? Будьте конкретны.">
                            </form>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Основная часть</h6>
                            <p class="card-text">Добавьте всю информацию, которая может понадобиться для ответа на ваш
                                вопрос.</p>
                            <div class="summernote" id="summernote" onkeyup='checkDescription()' > </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Метки</h6>
                            <p class="card-text">Добавьте не более 5 меток, описывающих, о чём ваш вопрос</p>
                            <form>
                                <div class="input-group">
                                    <div class="input-group-prepend">

                                    </div>
                                    <input type="text" class="form-control" id="tags"
                                           placeholder="метка">
                                </div>
                            </form>
                            <div id="tags-block">
                            </div>
                            <div id="tag-add-block" class="d-none">
                                <form class="form-inline mt-3">
<!--                                    <input type="text" class="form-control mr-3" id="new-tag-name" placeholder="Имя метки">-->
                                    <input type="text" class="form-control mr-3 w-50" id="new-tag-description" placeholder="Описание метки">
                                    <button type="submit" class="btn btn-primary" id="create-tag" disabled>Создать метку</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 p-3">
                    <div class="card border-light mb-3 shadow-sm" style="min-width: 350px;">
                        <div class="card-header">Шаг 1: Создайте черновик своего вопроса</div>
                        <div class="card-body">
                            <p class="card-text">Сообщество здесь, чтобы помочь вам с конкретными проблемами по
                                программированию, алгоритмам, языкам программирования.</p>

                            <p>Избегайте публикации вопросов, на которые невозможно дать объективный ответ.</p>
                            <p>
                            <div class="row">
                                <div class="col">
                                    <img src="/static/images/askQuestion/list-1.svg">
                                    <Strong>Опишите проблему кратко</Strong>

                                    <svg aria-hidden="true"
                                         class="svg-icon iconArrowDownAlt tip-button-1 rounded float-right" width="18"
                                         height="18" viewBox="0 0 18 18">
                                        <path d="M16.01 6.43l-1.4-1.41L9 10.6 3.42 5l-1.4 1.42 7 7 7-7z"></path>
                                    </svg>

                                </div>
                            </div>
                            <div class="tip-text-1 d-none">
                                <ul>
                                    <li>Включите подробную информацию о вашей цели</li>
                                    <li>Опишите, что вы ожидали и что получили</li>
                                    <li>Добавьте сообщения об ошибках</li>
                                </ul>
                            </div>
                            </p>
                            <p>
                            <div class="row">
                                <div class="col">
                                    <img src="/static/images/askQuestion/list-2.svg">
                                    <Strong>Опишите что вы попробовали</Strong>
                                    <svg aria-hidden="true"
                                         class="svg-icon iconArrowDownAlt tip-button-2 rounded float-right" width="18"
                                         height="18" viewBox="0 0 18 18">
                                        <path d="M16.01 6.43l-1.4-1.41L9 10.6 3.42 5l-1.4 1.42 7 7 7-7z"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="tip-text-2 d-none">

                                Покажите, что вы пробовали, что вы нашли (на этом сайте или в другом месте), и почему
                                это не решает вашу проблему. Вы можете получить лучшие ответы, когда продемонстрируете
                                ваше исследование.

                            </div>
                            </p>
                            <p>
                            <div class="row">
                                <div class="col">
                                    <img src="/static/images/askQuestion/list-3.svg">
                                    <Strong>Добавьте немного кода</Strong>
                                    <svg aria-hidden="true"
                                         class="svg-icon iconArrowDownAlt tip-button-3 rounded float-right" width="18"
                                         height="18" viewBox="0 0 18 18">
                                        <path d="M16.01 6.43l-1.4-1.41L9 10.6 3.42 5l-1.4 1.42 7 7 7-7z"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="tip-text-3 d-none">

                                По возможности добавьте минимальный код, необходимый для воспроизведения вашей проблемы
                                (так называемый <a href=#>минимальный воспроизводимый пример</a>)

                            </div>
                            </p>
                        </div>
                    </div>
                    <div class="card border-light mb-3 shadow-sm" style="min-width: 350px;">
                        <div class="row">
                            <div class="col">
                                <div class="card-header">Больше полезных ссылок
                                    <svg aria-hidden="true"
                                         class="svg-icon iconArrowDownAlt tip-button-4 rounded float-right" width="18"
                                         height="18" viewBox="0 0 18 18">
                                        <path d="M16.01 6.43l-1.4-1.41L9 10.6 3.42 5l-1.4 1.42 7 7 7-7z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="tip-text-4 d-none">
                            <div class="card-body">
                                <p class="card-text">Подробнее о том, <a href=#>как задать качественный вопрос</a>.</p>
                                <p class="card-text">Посетите <a href=#>справочный центр</a>.</p>
                                <p class="card-text">Вопросы о правилах и работе сайта можно задать на<a href=#>
                                    Мете</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form>
                <button type="submit" class="btn btn-primary" id="buttonAskQuestion" disabled>Задать вопрос</button>
            </form>
        </div>
    </div>
</main>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script src="/static/js/askQuestion.js"></script>
<script src="/static/js/service/error401.js"></script>
<script>
    $('#summernote').summernote({
        tabsize: 2,
        height: 200
    });
</script>
</body>
</html>